<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <welcome-file-list>
        <welcome-file>
<!--            views/forum/home.jsp-->
<!--            views/consumer/home.jsp-->
            index.jsp
        </welcome-file>
    </welcome-file-list>
    <!-- Login Servlet Routing Table -->
    <servlet>
        <servlet-name>controller.LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller.LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <!-- Logout Servlet Routing Table -->
    <servlet>
        <servlet-name>controller.LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller.LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
        <url-pattern>/Homepage</url-pattern>
    </servlet-mapping>
    <!-- Retailer Servlet Routing Table -->
    <servlet>
        <servlet-name>controller.RetailerServlet</servlet-name>
        <servlet-class>controller.RetailerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller.RetailerServlet</servlet-name>
        <url-pattern>/RetailerServlet</url-pattern>
    </servlet-mapping>
    <!-- Retailer Edit Food Servlet -->
    <servlet>
        <servlet-name>controller.retailer.EditFoodServlet</servlet-name>
        <servlet-class>controller.retailer.EditFoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller.retailer.EditFoodServlet</servlet-name>
        <url-pattern>/EditFoodServlet</url-pattern>
    </servlet-mapping>
    <!-- Retailer Donate Food Servlet -->
    <servlet>
        <servlet-name>controller.retailer.DonateFoodServlet</servlet-name>
        <servlet-class>controller.retailer.DonateFoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller.retailer.DonateFoodServlet</servlet-name>
        <url-pattern>/DonateFoodServlet</url-pattern>
    </servlet-mapping>
    <!-- Organization Servlet Routing Table -->
    <servlet>
        <servlet-name>controller.OrganizationServlet</servlet-name>
        <servlet-class>controller.OrganizationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller.OrganizationServlet</servlet-name>
        <url-pattern>/OrganizationServlet</url-pattern>
    </servlet-mapping>
    <!-- Claim Food Servlet Routing Table -->
    <servlet>
        <servlet-name>controller.organization.ClaimFoodServlet</servlet-name>
        <servlet-class>controller.organization.ClaimFoodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller.organization.ClaimFoodServlet</servlet-name>
        <url-pattern>/ClaimFoodServlet</url-pattern>
    </servlet-mapping>
    <!-- Consumer Servlet Routing Table -->
    <servlet>
        <servlet-name>controller.ConsumerServlet</servlet-name>
        <servlet-class>controller.consumer.ConsumerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller.ConsumerServlet</servlet-name>
        <url-pattern>/ConsumerServlet</url-pattern>
    </servlet-mapping>
    <!-- Forum Servlet Routing Table -->
    <servlet>
        <servlet-name>controller.ForumServlet</servlet-name>
        <servlet-class>controller.forum.ForumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controller.ForumServlet</servlet-name>
        <url-pattern>/ForumServlet</url-pattern>
        <url-pattern>/Forum</url-pattern>
        <url-pattern>/forum</url-pattern>
        <url-pattern>/Post</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
